body {
    background-color: linen;
    border-color: rgb(16, 17, 17);
    border-width: 3px;
    border-style: solid;
    margin-left: 20%;
    margin-right: 20%;
     }
  
  .wrapper{
      text-align: left;
      background-color: rgb(214, 214, 206);
      padding: 15px;
  }
  
  .input-group{
    align-items: center;
  }
  .input-box{
    align-self: center;
    
  }
  .name{

  }
    .fa{

    }
  .dob{
    
  }
